

/* PAGINA PRINCIPAL */
html{
	background-color: rgb(212, 212, 212);
	height: 100vh;
}
body{
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
.titol{
	position: absolute;
	top: 1vh;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-bottom: 1px solid black;
	margin-bottom: 5vh;
	font-size: 5vw;
} 
.containerCentrat{

	width: 100vw;
	height: 100vh;
	display: flex; /* posar pk he fet servir una eina decent i no grid 🤢*/
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.menu_btn{
	min-width: 25%;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	margin: 1rem;
	padding: .4rem 3rem;
	transition-duration: 0.4s;
	border-radius: .3rem;
	cursor: pointer;
	font-size: 3vw;

}
.menu_btn:hover{
	border: 1px solid transparent;
	box-shadow:  18px -18px 35px #bebebe,
             -18px 18px 35px #ffffff;
}
.menu_btn:active{
	text-decoration: none;
}
.menu_btn:visited{
	text-decoration: none;
}
button{
	background-color: transparent;
}

/* Decoracions */

